<h1>Listas de posts: </h1>

<!-- Exibir o conteudo da variável
    {{posts}} -->

<!-- Exibir os Dados em uma postagens específica -->
{{#each posts}}
    <small>{{updatedAt}}</small>
    <small>{{createdAt}}</small>
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>
{{/each}}